body {

    font-family: 'nova square', sans-serif;

    font-family: Copperplate, Papyrus, fantasy;

    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}


body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('Images/cinemate.jpg') center/cover fixed;
    filter: blur(3px);
    z-index: -1;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Adjust the last value (0.4) for the level of transparency */
    z-index: -1;
}


nav {
    background-color: #333;
    overflow: hidden;
    text-align: center;
    position: relative; /* Add this line to make nav a positioned ancestor */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

li {
    display: inline-block;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:not(:has(> img)):hover {
    background-color: #111;
    }

.active {
    background-color: #555;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-signup-box {
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 250px;
    
}

.error-message {
    color: red;
    margin-bottom: 0; /* Adjust margin for separation */
    font-size: 16px;
    width: 200px;
}

.quiz-error-message {
    font-size: 24px; /* Adjust the font size as needed */
    color: #ff0000; /* Set the text color to red or another noticeable color */
    font-weight: bold; /* Make the text bold for emphasis */
    text-align: center; /* Center the message */
    margin: 50px 0 100%; /* Add some margin for spacing */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center form items horizontally */
}

label {
    margin-bottom: 16px; /* Increased margin for more separation */
    text-align: center; /* Center-align the label text */
    width: 100%; 
    box-sizing: border-box; /* Include padding and border in the width calculation */
    display: block;
}

#updateInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input {
    padding: 12px; /* Increased padding for input fields */
    margin-bottom: 20px; /* Increased margin for more separation */
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%; 
    box-sizing: border-box;
    max-width: 300px;
}

.centered-button {
    display: block;
    margin: 20px auto; /* Add some top margin and center the button horizontally */
    width: 60%; /* Match the width with choice buttons */
    min-width: 200px; /* Minimum width to keep consistency */
    padding: 20px 20px; /* Padding for a larger click area and visual size */
    border: none; /* Remove border or set to '2px solid #ddd' if border is desired */
    border-radius: 30px; /* Rounded corners */
    background: linear-gradient(145deg, #575757, #333333); /* Gradient background */
    color: white; /* Text color for visibility */
    cursor: pointer; /* Cursor to indicate the element is clickable */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Smooth transition for the hover effects */
    text-align: center; /* Center the text inside the button */
    font-family: 'nova square', sans-serif;
    font-size: 1em; /* Adjustable font size */
    letter-spacing: 1px; /* Letter spacing for a better look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
}

.centered-button:hover {
    background: linear-gradient(145deg, #333333, #575757); /* Inverted gradient on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Larger shadow for 'lifting' effect */
    transform: translateY(-2px); /* Slight raise effect on hover */
}


button {
    background-color: #333;
    color: white;
    padding: 14px; /* Increased padding for buttons */
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px; /* Increased margin for more separation */
    width: 100%;
}

button:hover {
    background: linear-gradient(145deg, #333333, #575757); /* Inverted gradient on hover for a cool effect */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Larger shadow on hover for 'lifting' effect */
    transform: translateY(-2px); /* Slight raise effect on hover */
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    text-align: center;
    margin: 20px 0; /* Adjust margin for spacing */
}

h1 {
    font-size: 50px; /* Adjust font size for larger header */
    color: #fff;
    text-align: center;
}

#question-container {
    text-align: center;
    margin-bottom: 20px;
}

#question-text {
    color: white;
}

#result-message {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

#result-container {
    margin-top: 10px;
}

.choice-btn {
    display: block;
    width: 50%; /* Slightly smaller width */
    min-width: 200px; /* Adjust minimum width */
    margin: 10px auto; /* Center buttons horizontally */
    padding: 15px 20px; /* Vertical and horizontal padding */
    border: 2px solid #ddd; /* Solid border with a light color */
    border-radius: 30px; /* Rounded corners */
    background: linear-gradient(145deg, #575757, #333333); /* Cool gradient effect */
    color: white; /* Text color */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Smooth transitions for multiple properties */
    text-align: center; /* Center text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    font-family: 'nova square', sans-serif;
    font-size: 1em; /* Font size, can be adjusted */
    letter-spacing: 1px; /* Spacing between letters */
}

.choice-btn:hover {
    background: linear-gradient(145deg, #333333, #575757); /* Inverted gradient on hover for a cool effect */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Larger shadow on hover for 'lifting' effect */
    transform: translateY(-2px); /* Slight raise effect on hover */
}





.movie {
    margin-bottom: 10px;
    color: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #1e1e1e;
}

.movie h3 {
    margin-bottom: 5px;
    font-size: 30px;
}

.menu-toggle {
    display: none; /* Hide by default for larger screens */
    cursor: pointer;
    padding: 14px;
    color: white;
    background-color: #333;
    text-align: center;
}
  
/* Existing styles for the dropdown menu */
.dropdown-menu {
    display: none; /* Initially hidden */
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 100%; /* Positioned below the toggle button */
    left: 0;
    width: 100%;
    z-index: 1000; /* High enough z-index to be on top */
}

/* Style for dropdown links */
.dropdown-menu a {
    padding: 14px;
    text-decoration: none;
    color: white;
    text-align: center;
    display: block;
}
  
/* Change color on hover */
.dropdown-menu a:hover {
    background-color: #111;
}

/* Styles for the video container */
.trailer-container {
    max-width: 100%;
    max-height: 100%;
}

/* Styles for the iframe inside the container */
.trailer-container iframe {
    max-width: 100%;
    max-height: 100%;
}

/* Media query for screens with a smaller width */
@media only screen and (max-width: 800px) {
    .menu-toggle {
        display: block; /* Shows the menu toggle on smaller screens */
    }

    ul {
        display: none; /* Hides the horizontal menu on smaller screens */
    }

    /* Styles for the login-signup-box if needed */
    .login-signup-box {
        background-color: white;
        padding: 40px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 250px;
    }


    form {
        max-width: 300px; /* Adjust the max-width based on your preference */
        margin: 0 auto; /* Center the form within the box */
    }

    /* Adjust spacing for form elements */
    label, input, button {
        margin-bottom: 15px;
    }

  
    
    ul {
        display: none;
    }

    .trailer-container {
        max-width: 100%; /* Allow the video to take up the full width on smaller screens */
      }
}


    a img {
        width: 100%; /* Adjust as needed */
        border-radius: 10px; /* Optional, for rounded corners */
        margin: 10px; /* Space between images */
        transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition for shadow and transform */
        /* Initial box-shadow state */
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0); 
    }
    a:hover img {
        /* Add a shadow to lift the image */
        box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.5); 
        /* Remove the scale transform if you don't want the image to grow */
        transform: none; 
    }

    #logo {
        margin-top: 1%;
        max-width: 150px;
        border-radius: 15px;
        margin-bottom: 1%;
        position: relative;
        box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5); /* Adjust the rgba values to achieve the desired smoke effect */
    }
    

.image-title {
    font-size: 24px; /* Change 20px to the font size you desire */
}

#loginButton, #signupButton, #submitSignup {
    font-family: 'nova square', sans-serif;
}

#question-text {
    font-size: 24px; /* Adjust the size as needed */
    /* Add other styling as needed */
}



a img {
    width: 100%; /* Adjust as needed */
    border-radius: 10px; /*  for rounded corners */
    margin: 10px; /* Space between images */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition for shadow and transform */
    /* Initial box-shadow state */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0); 
}

a:hover img {
    /* Add a shadow to lift the image */
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.5); 
    transform: none; 
}


